<template>
  <v-container id="page-container" fluid grid-list-xs class>
    <v-row class="flex-wrap align-items-stretch">
      <v-col cols="12" md="4" class="text-center">
        <v-btn
          @click="$router.push('/add_member')"
          large color="primary" dark outlined
          >Tambah Member</v-btn>
      </v-col>
      <v-col cols="12" md="4" class="text-center">
        <v-badge
          :content="newMembersCount"
          :value="newMembersCount"
          color="red"
          overlap 
        >
          <v-btn
            @click="$router.push('/new_members')"
            large color="primary" dark block outlined
            >Daftar Member Baru</v-btn>
        </v-badge>
      </v-col>
      <v-col cols="12" md="4" class="text-center">
        <v-btn
          @click="$router.push('/members')"
          large color="primary" dark outlined
          >Daftar Member</v-btn>
      </v-col>
      <v-col cols="12" md="4" class="text-center">
        <v-badge
          :content="newVehiclesCount"
          :value="newVehiclesCount"
          color="red"
          overlap 
        >
          <v-btn
            @click="$router.push('/new_vehicles')"
            large color="primary" dark block outlined
            >Daftar Kendaraan Baru</v-btn>
        </v-badge>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
import {db} from '../db'
import {mapGetters} from 'vuex'
export default {
  name: 'Home',
  firestore () {
    return {
      newMembers: db.collection('newUsers'),
      newVehicles: db.collection('newVehicles')
    }
  },
  data () {
    return {
      newMembers: [],
      newVehicles: [],
      showNewOrder: false
    }
  },
  methods: {
  },
  components: {
    // QrcodeVue,
  },
  computed: {
    ...mapGetters(['branchKey', 'branch']),
    newMembersCount () {
      if (this.newMembers) {
        return this.newMembers.length
      }
      return 0
    },
    newVehiclesCount () {
      if (this.newVehicles) {
        return this.newVehicles.length
      }
      return 0
    },
  }
};
</script>
