<template>
  <div>
    <v-list two-line>
      <v-subheader>Aktif</v-subheader>
      <v-list-item
        v-for="(vehicle, i) in vehicles"
        :key="i"
        @click="open(vehicle)"
        >
        <v-list-item-avatar>
          <v-btn icon>
            <v-icon color="success">mdi-check-circle</v-icon>
          </v-btn>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>
            {{vehicle.id}}, {{vehicle.model}}, {{vehicle.color}}
          </v-list-item-title>
          <v-list-item-title class="caption">
            {{vehicle.brand}}, TH {{vehicle.make}}
          </v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-icon v-if="vehicle.owner == member.id" color="primary">mdi-account</v-icon>
        </v-list-item-action>
      </v-list-item>

      <v-divider></v-divider>

    </v-list>
    <v-dialog
      v-model="showVehicleForm"
      fullscreen 
      persistent :overlay="true"
      max-width="500px"
      transition="dialog-transition"
      >
      <VehicleForm
      v-if="showVehicleForm"
        @canceled="onVehicleFormCanceled"
        @saved="onVehicleFormSaved"
        :vehicle="selectedItem"
        :member="member"
        />
    </v-dialog>
    <v-btn
      style="position:fixed; bottom: 85px; right: 20px"
      fab large
      @click="showVehicleForm = true"
      color="success"
      class="elevation-0"
      >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-snackbar
      v-if="snackbar"
      :value="typeof snackbar == 'object'"
      :timeout="snackbar.timeout || 3000"
    >
      {{snackbar.message}}
    </v-snackbar>

  </div>
</template>

<script>
import {db} from '../db'
import VehicleForm from '@/components/VehicleForm'
export default {
  name: 'MemberVehicles',
  components: {
    VehicleForm
  },
  data () {
    return {
      alert: null,
      showVehicleForm: false,
      vehicles: [],
      loadingItem: false,
      snackbar: null,
      selectedItem: null
    }
  },
  firestore() {
    return {
    }
  },
  props: ['member'],
  computed: {
  },
  methods: {
    open (vehicle) {
      this.selectedItem = vehicle
      this.showVehicleForm = true

    },
    onVehicleFormCanceled () {
      this.showVehicleForm = false
      this.selectedItem = null
    },
    onVehicleFormSaved () {
      this.showVehicleForm = false
      this.selectedItem = null
    },
    confirmDelete (vehicleId) {
      this.loadingItem = vehicleId
      db.collection('vehicles').doc(vehicleId).delete()
        .then(() => {
          this.loadingItem = false
          this.snackbar = {
            message: `${vehicleId} dihapus`,
            timeout: 2000,
          }
        })
        .catch(err => {
          this.loadingItem = false
          this.snackbar = {
            message: err.message,
            timeout: 5000
          }
        })
    }

  },
  created () {
  },
  watch: {
    member: {
      immediate: true,
      handler: function (data) {
        const allVehicle = data.vehicles.map(vehicle => {
          return db.collection('vehicles').doc(vehicle).get()
        })
        Promise.all(allVehicle)
        .then(vehicles => {
          this.vehicles = []
          vehicles.map(vehicleRef => {
            this.vehicles.push({id: vehicleRef.id, ...vehicleRef.data()})
          })
        })
        .catch(err => {
          console.log(err)
        })

      }
    }
  }
}
</script>

<style>

</style>