<template>
  <div>
    <v-list three-line>
      <v-subheader>Pending Verifikasi Member</v-subheader>
      <v-list-item
        v-for="(member, n) in newMembers"
        :key="'u-' + n"
        @click="open(member)"
        >
        <v-list-item-avatar>
          <v-btn icon>
            <v-icon color="orange">mdi-clock</v-icon>
          </v-btn>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>
            {{member.name}},
          </v-list-item-title>
          <v-list-item-title class="caption">
            {{member.address}}
          </v-list-item-title>
          <v-list-item-title class="caption">
            {{member.email}}, {{member.phone}}
          </v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn icon
            @click="remove(member)"
            :loading="loadingItem == member.id"
            >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
      <v-divider></v-divider>
    </v-list>
    <v-dialog
      v-model="showMemberForm"
      fullscreen 
      persistent :overlay="true"
      max-width="500px"
      transition="dialog-transition"
    >
      <MemberForm
        @canceled="onMemberFormCanceled"
        @saved="onMemberFormSaved"
        :user="selectedMember"
        />
    </v-dialog>
    <v-btn
      style="position:fixed; bottom: 85px; right: 20px"
      fab large
      @click="showMemberForm = true"
      color="success"
      class="elevation-0"
      >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-snackbar
      v-if="snackbar"
      :value="typeof snackbar == 'object'"
      :timeout="snackbar.timeout || 3000"
    >
      {{snackbar.message}}
    </v-snackbar>

  </div>
</template>

<script>
import {db} from '../db'
import MemberForm from '@/components/MemberForm'
export default {
  name: 'NewMembers',
  components: {
    MemberForm
  },
  data () {
    return {
      alert: null,
      showMemberForm: false,
      newMembers: [],
      loadingItem: false,
      snackbar: null,
      selectedMember: null
    }
  },
  firestore() {
    return {
      newMembers: db.collection('newUsers').orderBy('ts')
    }
  },

  computed: {
  },

  methods: {
    open (member) {
      this.selectedMember = member
      this.showMemberForm = true
    },
    onMemberFormCanceled () {
      this.showMemberForm = false
    },
    onMemberFormSaved () {
      this.showMemberForm = false
    },
    confirmDelete (memberId) {
      this.loadingItem = memberId
      db.collection('newMembers').doc(memberId).delete()
        .then(() => {
          this.loadingItem = false
          this.snackbar = {
            message: `${memberId} dihapus`,
            timeout: 2000,
          }
        })
        .catch(err => {
          this.loadingItem = false
          this.snackbar = {
            message: err.message,
            timeout: 5000
          }
        })
    }

  },
  created () {
  }
}
</script>

<style>

</style>