<template>
  <div>
    <v-list two-line>
      <v-subheader>Pending Verifikasi</v-subheader>
      <v-list-item
        v-for="(vehicle, i) in newVehicles" 
        :key="i"
        @click="openVehicle(vehicle)"
        >
        <v-list-item-avatar>
          <v-btn icon>
            <v-icon color="orange">mdi-clock</v-icon>
          </v-btn>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>
            {{vehicle.id}}, {{vehicle.model}}, {{vehicle.color}}
          </v-list-item-title>
          <v-list-item-title class="caption">
            {{vehicle.brand}}, TH {{vehicle.make}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

    </v-list>
    <v-dialog
    v-if="showVehicleForm"
      v-model="showVehicleForm"
      fullscreen 
      persistent :overlay="true"
      max-width="500px"
      transition="dialog-transition"
    >
      <NewVehicleVerification :vehicle="selectedVehicle" @canceled="onVehicleFormCanceled" @verified="onVehicleOwnerShipVerified"/>
    </v-dialog>
    <v-btn
      style="position:fixed; bottom: 85px; right: 20px"
      fab large
      @click="showVehicleForm = true"
      color="success"
      class="elevation-0"
      >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-snackbar
      v-if="snackbar"
      :value="typeof snackbar == 'object'"
      :timeout="snackbar.timeout || 3000"
    >
      {{snackbar.message}}
    </v-snackbar>

  </div>
</template>

<script>
import {db} from '../db'
import NewVehicleVerification from '@/components/NewVehicleVerification'
export default {
  name: 'Profile',
  components: {
    NewVehicleVerification
  },
  data () {
    return {
      alert: null,
      showVehicleForm: false,
      newVehicles: [],
      loadingItem: false,
      snackbar: null,
      selectedVehicle: null
    }
  },
  firestore() {
    return {
      newVehicles: db.collection('newVehicles'),
    }
  },

  computed: {
  },
  methods: {
    openVehicle (vehicle) {
      this.selectedVehicle = vehicle
      this.showVehicleForm = true
    },
    onVehicleFormCanceled () {
      this.showVehicleForm = false
    },
    onVehicleFormSaved () {
      this.showVehicleForm = false
    },
    confirmDelete (vehicleId) {
      this.loadingItem = vehicleId
      db.collection('vehicles').doc(vehicleId).delete()
        .then(() => {
          this.loadingItem = false
          this.snackbar = {
            message: `${vehicleId} dihapus`,
            timeout: 2000,
          }
        })
        .catch(err => {
          this.loadingItem = false
          this.snackbar = {
            message: err.message,
            timeout: 5000
          }
        })
    },
    onVehicleOwnerShipVerified () {
      this.showVehicleForm = false
      this.selectedVehicle = null

      this.snackbar = {
        type: 'succes',
        message: 'Kendaraan baru selesai di tambahkan'

      }
    }

  },
  created () {
  }
}
</script>

<style>

</style>