<template>
  <v-container>
    <v-row>
      <v-col cols="12"  justify-center class="text-center justify-center d-flex">
        <v-card class="elevation-0 px-2" style="min-width: 300px; max-width:500px">
          <span class="headline">Mendaftar</span>
          <v-form ref="form" v-model="form" class="pt-6">
            <v-alert v-if="alert" :type="alert.type">{{alert.message}}</v-alert>

            <v-text-field outlined color="deep-purple" v-model="email" label="Email"></v-text-field>
            <v-text-field
              outlined
              v-model="password"
              color="deep-purple"
              label="Password"
              style="min-height: 96px"
              type="password"
            ></v-text-field>
          </v-form>
          <v-row>
            <v-col cols="12">
              <v-btn
                block large
                :disabled="!form"
                :loading="isLoading"
                @click="signup"
                class="white--text"
                color="primary"
                depressed
              >Sign up</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <span class="text-center">Sudah punya akun?</span>

              <v-btn
                text color="primary"
                @click="$router.push('signin')">Masuk</v-btn>
            </v-col>
          </v-row>
          <v-row class="mb-0">
            <v-col>
              <span>Bisa login dengan:</span>
            </v-col>
          </v-row>

          <v-row class="mb-10">
            <v-col>
              <v-btn
                large
                color="primary"
                @click="signupWithGoogle"
                icon
                >
                  <v-icon large>mdi-google</v-icon>
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
                large
                color="primary"
                icon
                @click="signupWithFacebook"
                >
                  <v-icon large>mdi-facebook</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import firebase from "firebase";
import "firebase/firestore";
import { mapActions } from "vuex";
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
export default {
  data: () => ({
    agreement: false,
    dialog: false,
    email: null,
    form: false,
    username: undefined,
    isLoading: false,
    password: null,
    phone: undefined,
    submitted: false,
    rules: {
      email: v => (v || "").match(/@/) || "Please enter a valid email",
      length: len => v =>
        (v || "").length >= len || `Invalid character length, required ${len}`,
      password: v =>
        (v || "").match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
        "Password must contain an upper case letter, a numeric character, and a special character",
      required: v => !!v || "This field is required"
    },
    user: {
      username: "",
      email: "",
      password: ""
    },
    done: false,
    alert: null
  }),
  validations: {
    user: {
      username: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      confirmPassword: { required, sameAsPassword: sameAs("password") }
    }
  },
  computed: {
    // ...mapGetters(['userRegistration'])
  },
  methods: {
    ...mapActions(["userRegistration", "signinGoogle", "signinFacebook"]),
    signupWithGoogle() {
      this.loading = true;
      this.signinGoogle()
        .then(() => {
          this.loading = false;
          this.onSigninSucces();
        })
        .catch(err => {
          this.loading = false;
          this.onsigninError(err);
        });
    },
    signupWithFacebook() {
      this.loading = true;
      this.signinFacebook()
        .then(() => {
          this.loading = false;
          this.onSigninSucces();
        })
        .catch(err => {
          this.loading = false;
          this.onsigninError(err);
        });
    },
    signup() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(() => {
          this.done = true;
          if (this.$store.getters.user) {
            this.$router.push("/");
          }
        })
        .catch(err => {
          this.alert = {
            message: err.message,
            type: "error"
          };
        });
    }
  },
  mounted() {
    if (this.$store.getters.user) {
      this.$router.push("/");
    }
  }
};
</script>

<style>
</style>

