<template>
  <div>
        <v-container grid-list-xs>
          <v-row>
            <v-col cols="4" md="4" class="mb-0">
              <v-select
                :items="fields"
                v-model="query.search.field"
                label="Kolom"
                outlined dense
              ></v-select>
            </v-col>
            <v-col cols="8" md="8" class="mt-0">
              <v-text-field
                v-model="query.search.term"
                name="search"
                label="Search"
                id="search"
                outlined dense
                append-outer-icon="mdi-magnify"
                @click:append-outer="goSearch"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-container>

        <v-subheader>Member</v-subheader>
        <v-list three-line>
          <v-list-item
            v-for="(user, i) in usersWithId"
            :key="i"
            @click="edit(user)"
            >
            <v-list-item-avatar>
              <v-btn icon>
                <v-icon color="success">mdi-check-circle</v-icon>
              </v-btn>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title >
                <b>{{user.name}}</b>
              </v-list-item-title>
              <v-list-item-title>
                {{user.address}}
              </v-list-item-title>
              <v-list-item-title>
                <span v-show="user.email"><v-icon small>mdi-email</v-icon> {{user.email}}</span>
                <span v-show="user.phone"><v-icon small>mdi-phone</v-icon> {{user.phone}}</span>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>


        </v-list>
    <v-dialog
      v-if="showForm"
      v-model="showForm"
      fullscreen 
      persistent :overlay="true"
      max-width="500px"
      transition="dialog-transition"
    >
      <UserForm
        :member="usersObject[selectedItem.id]"
        @canceled="onUserFormCanceled"
        @saved="onUserFormSaved"
        />
    </v-dialog>
    <v-btn
      style="position:fixed; bottom: 85px; right: 20px"
      fab large
      @click="showForm = true"
      color="success"
      class="elevation-0"
      >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-snackbar
      v-if="snackbar"
      :value="typeof snackbar == 'object'"
      :timeout="snackbar.timeout || 3000"
    >
      {{snackbar.message}}
    </v-snackbar>

  </div>
</template>

<script>
import {db} from '../db'
import UserForm from '@/components/UserForm'
export default {
  name: 'Users',
  components: {
    UserForm
  },
  data () {
    return {
      alert: null,
      showForm: false,
      users: [],
      selectedItem: null,
      query: {
        limit: 20,
        search: {
          term: null,
          field: 'phone',
        },
      },
      filter: {
        field: null,
        term: null
      },
      fields: [
        {text: 'Telepon', value: 'phone'},
        {text: 'Email', value: 'email'},
        {text: 'Nama', value: 'name'},
        {text: 'Alamat', value: 'address'},
      ],
      loadingItem: false,
      snackbar: null,
    }
  },

  computed: {
    usersWithId () {
      return this.users.map(user => {
        return {...user, id: user.id}
      })
    },
    usersObject () {
      const obj = {}
      this.users.map(user => {
        obj[user.id] = {...user, id: user.id}
      })
      return obj
    },
  },
  methods: {
    edit (item) {
      this.selectedItem = item
      this.showForm = true
    },
    onUserFormCanceled () {
      this.showForm = false
    },
    onUserFormSaved () {
      this.showForm = false
    },
    confirmDelete (userId) {
      this.loadingItem = userId
      db.collection('newUsers').doc(userId).delete()
        .then(() => {
          this.loadingItem = false
          this.snackbar = {
            message: `${userId} dihapus`,
            timeout: 2000,
          }
        })
        .catch(err => {
          this.loadingItem = false
          this.snackbar = {
            message: err.message,
            timeout: 5000
          }
        })
    },
    goSearch() {
      this.filter = this.query.search
    }
  },
  watch: {
    filter: {
      immediate: true,
      deep: true,
      handler (filter) {
        if (filter.term) {
          this.$bind('users', db.collection('users').where(filter.field, '==', filter.term))
        } else {
          this.$bind('users', db.collection('users').orderBy('ts', 'desc').limit(20))
        }
      }
    }
  },
  created () {
  }
}
</script>

<style>

</style>