<template>
  <div>
    <v-list two-line>
      <v-subheader>Aktif</v-subheader>
      <v-list-item v-for="(vehicle, i) in vehicles" :key="i">
        <v-list-item-avatar>
          <v-btn icon>
            <v-icon color="success">mdi-check-circle</v-icon>
          </v-btn>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>
            {{vehicle.id}}, {{vehicle.model}}, {{vehicle.color}}
          </v-list-item-title>
          <v-list-item-title class="caption">
            {{vehicle.brand}}, TH {{vehicle.make}}
          </v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn icon>
            <v-icon >mdi-dots-vertical</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>

      <v-divider></v-divider>

    </v-list>
    <v-dialog
      v-model="showVehicleForm"
      fullscreen 
      persistent :overlay="true"
      max-width="500px"
      transition="dialog-transition"
      >
      <VehicleForm @canceled="onVehicleFormCanceled" @saved="onVehicleFormSaved"/>
    </v-dialog>
    <v-btn
      style="position:fixed; bottom: 85px; right: 20px"
      fab large
      @click="showVehicleForm = true"
      color="success"
      class="elevation-0"
      >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-snackbar
      v-if="snackbar"
      :value="typeof snackbar == 'object'"
      :timeout="snackbar.timeout || 3000"
    >
      {{snackbar.message}}
    </v-snackbar>

  </div>
</template>

<script>
import {db} from '../db'
import VehicleForm from '@/components/VehicleForm'
export default {
  name: 'Profile',
  components: {
    VehicleForm
  },
  data () {
    return {
      alert: null,
      showVehicleForm: false,
      vehicles: [],
      loadingItem: false,
      snackbar: null,
    }
  },
  firestore() {
    return {
      vehicles: db.collection('vehicles'),
    }
  },

  computed: {
  },
  methods: {
    onVehicleFormCanceled () {
      this.showVehicleForm = false
    },
    onVehicleFormSaved () {
      this.showVehicleForm = false
    },
    confirmDelete (vehicleId) {
      this.loadingItem = vehicleId
      db.collection('vehicles').doc(vehicleId).delete()
        .then(() => {
          this.loadingItem = false
          this.snackbar = {
            message: `${vehicleId} dihapus`,
            timeout: 2000,
          }
        })
        .catch(err => {
          this.loadingItem = false
          this.snackbar = {
            message: err.message,
            timeout: 5000
          }
        })
    }

  },
  created () {
  }
}
</script>

<style>

</style>