<template>
  <v-card>
    <!-- <label>{{userInfo.username}}</label>
    <label>{{userInfo.email}}</label> -->
      <DisplayFields label="Nama" :value="userInfo.username" format="text" col cols="4" />
       <DisplayFields label="Email" :value="userInfo.email" format="text" col cols="4" />
    <v-btn small color="primary" @click="updateProfiles(userInfo)">ubah</v-btn>

    <v-dialog v-model="updateProfile">
      <updateProfile :userInfo="selected" />
    </v-dialog>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import updateProfile from "../components/updateProfile";
import DisplayFields from "../components/DisplayFields";
export default {
   name: "Profile",
    data() {
    return {
        updateProfile: false,
        selected: null
    };
  },
   components: {
      updateProfile,
      DisplayFields
  },
  computed: {
    ...mapGetters(["authorization", "userInfo"])
  },
  methods: {
    updateProfiles(userInfo) {
      // return axios({
      //   method: "put",
      //   baseURL: `${window.location.protocol}//${window.location.hostname}:1337`,
      //   url: "/users/",
      //   headers: {
      //     Authorization: `bearer ${this.authorization}`
      //   },
      //   data: {
      //       username: this.username
      //   }
      // });
    this.selected = userInfo
    this.updateProfile =  true
    }
  }
};
</script>

<style>
</style>