<template>
  <v-card>
    <v-card-title>
      <span v-if="!item" class="headline">Pesanan Baru</span>
      <span v-if="item" class="headline">Edit Pesanan</span>
    </v-card-title>
    <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kepada"
                  v-model="formData.destinationName"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="No HP."
                  v-model="formData.destinationPhone"
                  required></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Provinsi"
                  v-model="formData.destinationProvince"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kota/Kabupaten"
                  v-model="formData.destinationCity"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kecamatan"
                  v-model="formData.destinationRegency"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Desa/Kelurahan"
                  v-model="formData.destinationVillage"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Alamat 1"
                  v-model="formData.destinationAddress1"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Alamat 2"
                  v-model="formData.destinationAddress2"
                  required></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" >
                <v-text-field
                  label="Kode Pos"
                  v-model="formData.destinationPostCode"
                  required></v-text-field>
              </v-col>

            </v-row>
          </v-container>

    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      
      <v-btn large text @click="$emit('close')">Cancel</v-btn>
      
      <v-btn
        v-show="parseInt(tab) > 1"
        large outlined
        color="primary" 
        @click="prev"
        ><v-icon large>mdi-skip-previous</v-icon> {{tabNames[parseInt(this.tab) - 2]}}</v-btn>

      <v-btn
        v-show="parseInt(tab) < 4"
        large outlined
        color="primary" 
        @click="next"
        ><v-icon large>mdi-skip-next</v-icon> {{tabNames[parseInt(this.tab)]}}</v-btn>
      
      <v-btn
        v-if="!item"
        large
        :loading="loading"
        color="primary" 
        @click="create"
        >Save</v-btn>
      
      <v-btn
        v-if="item"
        large
        :loading="loading"
        color="primary" 
        @click="update"
        >Update</v-btn>

    </v-card-actions>
  </v-card>
</template>

<script>
import { db } from '../db'
import axios from 'axios'
import accounting from 'accounting'
export default {
  name: 'NewOrder',
  data () {
    return {
      searchDestinationQuery: null,
      searchSenderQuery: null,
      senderAddressSet: null,
      destinationAddressSet: null,
      senderAddresses: [],
      destinationAdresses: [],
      searchLoading: false,
      tab: '1',
      formData: {
        destinationCountry: {
          country: 'Indonesia',
          code: 'ID',
          price: 0,
        },
        senderCountry: {
          country: 'Indonesia',
          code: 'ID'
        }
      },
      loading: false,
      tabs: [],
      tabNames: ['Kepada', 'Dari', 'Barang', 'Harga'],
      goodsCategories: [
        'Electronics',
        'Documents',
        'Perishable Food',
        'Perishable Goods',
        'Machine Parts',
        'Furniture',
        'Vehicle',
        'Chemical',
        'Life Plants',
        'Life Pets/Stocks'
      ]
    }
  },
  props: ['item'],
  firestore () {
    return {
    }
  },
  components: {
  },
  computed: {
    orderData () {
      return {
        ...this.formData,
        branch: this.$store.getters.branchKey,
        createdBy: this.$store.getters.user.uid,
        ts: new Date().valueOf()
      }
    },
    price () {
      if (!this.formData) {return {}}
      const weightFactor = this.formData.goodsWeightKg * 10000
      const volumeFactor = this.formData.goodsWidthCm * this.formData.goodsHeightCm * this.formData.goodsLengthCm * 100
      const distanceFactor = 100
      const price_ = (weightFactor + volumeFactor) * distanceFactor
      if (isNaN(price_)) {
        return 0
      } else {
        return price_
      }
    },
    senderAddressItems () {
      if (!this.senderAddresses.length) {
        return []
      }
      return this.senderAddresses.map(entry => {
        return {
          value: entry,
          text: `[${entry.kodepos}] ${entry.kelurahan}, ${entry.kecamatan}, ${entry.kabupaten}, ${entry.provinsi},  `
        }
      })
    },
    destinationAddressItems () {
      if (!this.destinationAddresses || !this.destinationAddresses.length) {
        return []
      }
      return this.destinationAddresses.map(entry => {
        return {
          value: entry,
          text: `[${entry.kodepos}] ${entry.kelurahan}, ${entry.kecamatan}, ${entry.kabupaten}, ${entry.provinsi},  `
        }
      })
    },
  },

  methods: {
    formatMoney (val) {
      return accounting.formatMoney(val, 'Rp ', '.', ',');
    },
    next () {
      this.tab = (parseInt(this.tab) + 1).toString()
    },
    prev () {
      this.tab = (parseInt(this.tab) - 1).toString()
    },
    create () {
      this.loading = true
      const formattedPayload = {
        ...this.formData,
        createdAt: new Date().valueOf(),
        updatedBy: this.$store.getters.user.uid,
        updateAt: new Date().valueOf(),
        branch: this.$store.getters.branchKey,
        createdBy: this.$store.getters.user.uid
      }
      db.collection('users').add(formattedPayload)
        .then(() => {
          this.$emit('saved')
          this.loading = false
        })
        .catch(err => {
          console.log(err)
        })
    },
    update () {
      this.loading = true
        const formattedPayload = {
        ...this.formData,
        updateAt: new Date().valueOf(),
        branch: this.$store.getters.branchKey,
        updatedBy: this.$store.getters.user.uid,
      }
      db.collection('users').doc(this.item.id)
        .set(formattedPayload)
        .then(() => {
          this.$emit('saved')
          this.loading = false
        })
        .catch(err => {
          console.log(err)
        })
    },
    getAddressSearch (query) {
      this.searchLoading = true
      return axios({
          method: 'get',
          baseURL: 'http://localhost:3000',
          url: '/address/search/' + query,
          headers: {
            Accept: 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9'
          }
        })
        .then(res => {
          this.searchLoading = false
          return Promise.resolve(res.data.result)
        })
        .catch(err => {
          this.searchLoading = false
          return Promise.reject(err)
        })
    }    
  },
  mounted () {
    if (this.item) {
      this.formData = this.item
    }
  },
  watch: {
    price (val) {
      this.formData.price = val
    },
    searchDestinationQuery (val) {
      this.getAddressSearch(val)
        .then(result => {
          this.destinationAddresses = result
        }) 
    },
    searchSenderQuery (val) {
      this.getAddressSearch(val)
        .then(result => {
          this.senderAddresses = result
        }) 
    },
    destinationAddressSet (address) {
      this.formData.destinationProvince = address.value.provinsi
      this.formData.destinationCity = address.value.kabupaten
      this.formData.destinationRegency = address.value.kecamatan
      this.formData.destinationVillage = address.value.kelurahan
      this.formData.destinationPostCode = address.value.kodepos
    },
    senderAddressSet (address) {
      this.formData.senderProvince = address.value.provinsi
      this.formData.senderCity = address.value.kabupaten
      this.formData.senderRegency = address.value.kecamatan
      this.formData.senderVillage = address.value.kelurahan
      this.formData.senderPostCode = address.value.kodepos
    }
  }
}
</script>

<style>

</style>