<template>
  <v-app>
  <div id="container">
    <div id="box"></div>
    <img id="logo" src="../assets/logo-maxklog.jpg" alt="max-klog">
    <QrcodeVue id="qrcode" :value="item.id" size="80"/><br/>
    <div id="vdivider"></div>
    <span id="id">{{item.id}}</span>
    <span id="sender_name" >Dari: {{item.senderName}}</span>
    <span id="sender_address" >{{senderAddress}}</span>
    <span id="destination_name" >Kepada: {{item.destinationName}}</span>
    <span id="destination_address" >
      {{destinationAddress}}
    </span>
    <span id="goods_name">{{item.goodsName}}/{{item.goodsCategory}} ({{item.serviceType}}): {{formatMoney(item.price)}}</span>
    <!-- <span id="price">{{formatMoney(item.price)}}</span> -->
    <span id="service_type">{{item.serviceType}} {{formatMoney(item.price)}}</span>
    <v-btn id="print_button" @click="print">Print</v-btn>
  </div>
  </v-app>
</template>

<script>
import QrcodeVue from 'qrcode.vue'
import accounting from 'accounting'
export default {
  name: 'LabelPrint',
  props: ['order'],
  components: {
    QrcodeVue
  },
  methods: {
    print () {
      window.print()
    },
    formatMoney (val) {
      return accounting.formatMoney(val, 'Rp ','.', ',' )
    }
  },
  computed: {
    item () {
      return this.order || JSON.parse(localStorage.getItem('selectedOrder'))
    },
    destinationAddress () {
      let address = '';
      address = this.item.destinationAddress1 ? address + this.item.destinationAddress1 + ', ' : address
      address = this.item.destinationAddress2 ? address + this.item.destinationAddress2 + ', ' : address
      address = this.item.destinationRegency ? address + this.item.destinationRegency + ', ' : address
      address = this.item.destinationCity ? address + this.item.destinationCity + ', ' : address
      address = this.item.destinationProvince ? address + this.item.destinationProvince + ', ' : address
      address = this.item.destinationCountry.country ? address + this.item.destinationCountry.country + ', ' : address
      address = this.item.destinationPostCode ? address + this.item.destinationPostCode : address
      return address
    },
    senderAddress () {
      let address = '';
      address = this.item.senderAddress1 ? address + this.item.senderAddress1 + ', ' : address
      address = this.item.senderAddress2 ? address + this.item.senderAddress2 + ', ' : address
      address = this.item.senderRegency ? address + this.item.senderRegency + ', ' : address
      address = this.item.senderCity ? address + this.item.senderCity + ', ' : address
      address = this.item.senderProvince ? address + this.item.senderProvince + ', ' : address
      address = this.item.senderCountry.country ? address + this.item.senderCountry.country + ', ' : address
      address = this.item.senderPostCode ? address + this.item.senderPostCode : address
      return address
    }
  },
  mounted () {
    if (this.$store.getters.preferences.label.autoPrint) {
      window.addEventListener("afterprint", event => {
        console.log(event)
        window.close();
      });
      window.addEventListener('DOMContentLoaded', () => {
        window.print()
      })
    }
  }
}
</script>

<style>
#vdivider {
  width: 0.1mm; height: 33mm;
  position: absolute; top: 4mm; left: 28mm;
  border-left: 1px dotted  grey;

}
#container {
  background: white;
  width: 100mm; height: 40mm;
  border-block: solid 1px grey;
}
#box {
  position: absolute; top: 2mm; left: 2mm;
  border: 1px solid grey;
  width: 96mm; height: 36mm;
}
#logo {
  width: 20mm;
  position: absolute; top: 2.3mm; left: 4mm;
}
#qrcode {
  position: absolute; top: 12mm; left: 4mm;
}  
#sender_name {
  position: absolute; top: 4mm; left: 29mm;
  width: 68mm;
  display: block;
  font-size: 3mm;
  font-weight: bold;

}
#sender_address {
  position: absolute; top: 8mm; left: 29mm;
  font-size: 2.3mm;
  width: 68mm;

}

#destination_name {
  position: absolute; top: 18mm; left: 29mm;
  display: block;
  width: 68mm;
  font-size: 3mm;
  font-weight: bold;
  border-top: 1px rgb(100, 100, 100) dotted;

}
#destination_address {
  position: absolute; top: 22mm; left: 29mm;
  font-size: 2.3mm;
  width: 68mm;

}
#goods_name {
  position: absolute; top: 33mm; left: 29mm;
  font-size: 2.3mm;
  width: 68mm;
  border-top: 1px rgb(100, 100, 100) dotted;

}
#goods_is_fragile {
  position: absolute; top: 60mm; left: 60mm;
}
#price {
  padding: 5px 10px;
  position: absolute; top: 41mm; left: 77mm;
  display: block;
  background: black;
  color: white;
  font-size: 3mm;
  font-weight: bold;
  width: 25mm;
  text-align: right;
  height: 7mm;
}
#service_type {
  border: dotted 1px grey;
  padding: 1px 10px;
  position: absolute; top: 2mm; left: 57mm;
  display: block;
  font-size: 3mm;
  font-weight: bold;
  width: 41mm;
  text-align: right;
  height: 5mm;
}
#id {
  position: absolute; top: 34.5mm; left: 3.2mm;
  font-size: 2mm;
  display: block;
  height: 7mm;
  font-family: 'Courier New', Courier, monospace;
}
@media screen {
  #print_button {
    position: absolute; top: 50mm; left: 40mm;
  }
}
@media print {
  #print_button {
    display: none;
  }
}
</style>