<template>
    <v-app-bar
      hide-on-scroll

      app
      color="red darken-4"
      dark flat
      >
      <v-app-bar-nav-icon @click.stop="$store.state.mainNavigationDrawer = !$store.state.mainNavigationDrawer" />
      <v-toolbar-title>{{$store.getters.appConfig.appName}}</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-app-bar-nav-icon
        v-if="!$store.getters.user && $route.path != '/login'"
        @click.stop="$router.push('/login')"
        >
          <v-icon>mdi-fingerprint</v-icon>
      </v-app-bar-nav-icon>

      <v-menu
        offset-y right        
        v-if="$store.getters.user"
        >
        <template v-slot:activator="{ on }" >
          <v-app-bar-nav-icon v-on="on">
              <v-icon>mdi-account-circle</v-icon>
          </v-app-bar-nav-icon>
        </template>
        <v-list two-line>
          <v-list-item @click="$router.push('/profile')">
            <v-list-item-content>
              <v-list-item-title>{{$store.getters.user.email}}</v-list-item-title>
              <v-list-item-subtitle>{{$store.getters.user.email}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="$router.push('/change_password')">
            <v-list-item-content>
              <v-list-item-title>Change Password</v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>mdi-edit</v-icon>              
            </v-list-item-action>

          </v-list-item>

          <v-list-item @click="$store.dispatch('signout')">
            <v-list-item-content>
              <v-list-item-title>Sign-out</v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>mdi-exit-to-app</v-icon>              
            </v-list-item-action>

          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MainApplicationBar',
  data () {
    return {
      showLogin: false,
      showProfile: false,
    }
  },
  computed: {
    ...mapGetters
  },
  methods: {
    ...mapActions
  },
  components: {
  }

}
</script>

<style>

</style>