<template>
  <v-footer
      fixed
      padless
    >
      <v-card
        flat
        tile
        width="100%"
        class="red darken-4 text-center"
      >
        <v-card-text>
          <v-btn @click="$router.push('/')" :color="$route.path == '/' ? 'black' : 'white'" class="mx-4" icon >
            <v-icon size="24px">mdi-home</v-icon>
          </v-btn>
          <v-btn @click="$router.push('/users')" :color="$route.path == '/users' ? 'black' : 'white'" class="mx-4" icon >
            <v-icon size="24px">mdi-account-multiple</v-icon>
          </v-btn>
          <v-badge
            :content="newMembersCount"
            :value="newMembersCount"
            color="pink"
            overlap bordered
          >
            <v-btn  @click="$router.push('/new_members')" :color="$route.path == '/new_members' ? 'black' : 'white'" class="mx-4" icon >
              <v-icon size="24px">mdi-account-multiple-plus</v-icon>
            </v-btn>
          </v-badge>
          <v-btn @click="$router.push('/vehicles')" :color="$route.path == '/vehicles' ? 'black' : 'white'" class="mx-4" icon >
            <v-icon size="24px">mdi-car-multiple</v-icon>
          </v-btn>
          <v-badge
            :content="newVehiclesCount"
            :value="newVehiclesCount"
            color="pink"
            overlap bordered
          >
            <v-btn @click="$router.push('/new_vehicles')" :color="$route.path == '/new_vehicles' ? 'black' : 'white'" class="mx-4" icon  >
              <v-icon size="24px">mdi-car-multiple</v-icon>
            </v-btn>
          </v-badge>
        </v-card-text>
      </v-card>
    </v-footer>
</template>

<script>
import {db} from '../db'
export default {
  name: 'Footer',
  data () {
    return {
      newMembers: null,
      newVehicles: null
    }
  },
  firestore () {
    return {
      newMembers: db.collection('newUsers'),
      newVehicles: db.collection('newVehicles')
    }
  },
  computed: {
    newMembersCount () {
      if (this.newMembers) {
        return this.newMembers.length
      }
      return 0
    },
    newVehiclesCount () {
      if (this.newVehicles) {
        return this.newVehicles.length
      }
      return 0
    }
  }

}
</script>

<style>

</style>