<template>
  <v-card>
    <v-toolbar dark color="primary" flat>
      <v-toolbar-title>Member</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="$emit('canceled')"  icon >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-btn @click="save" :loading="saving" icon  class="ml-6 ">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-toolbar>
    
    <v-card-text>
      <v-row fluid wrap>
        <v-col cols="12" md="6">
          <v-text-field
            name="Name"
            label="Nama"
            id="name"
            v-model="formData.name"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            name="address"
            label="Alamat"
            id="address"
            v-model="formData.address"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            name="phone"
            label="Telepon"
            id="phone"
            v-model="formData.phone"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            name="email"
            label="Email"
            id="email"
            v-model="formData.email"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-select
            :items="['member','admin', 'superadmin', 'scanner', 'guard']"
            v-model="formData.roles"
            label="Roles"
            multiple
          ></v-select>
        </v-col>
        <v-col cols="12" md="6">
          <v-select
            label="Type"
            :items="[{text: 'Orang', value: 'person'}, {text: 'Mesin', value: 'machine'}]"
            v-model="formData.type"
          ></v-select>
        </v-col>
        <v-col cols="12" md="6">
          <v-select
            label="Status"
            :items="['active', 'suspended']"
            v-model="formData.state"
          ></v-select>
        </v-col>

        <v-col cols="12" class="text-center">
          <v-alert
            v-if="alert"
            outlined
            :timeout="alert.timeout || 3000"
            :type="alert.type"
            >
            {{alert.message}}
          </v-alert>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-btn @click="$emit('canceled')" color="default" text>Cancel</v-btn>
          <v-btn @click="save" color="success" :loading="saving" >Save</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import {db} from '../db'
export default {
  name: 'UserForm',
  data () {
    return {
      formData: {
      },
      saving: false,
      alert: null,
    }
  },
  props: ['user'],
  computed: {
    yearMakes () {
      const years = []
      let yearNow = new Date().getFullYear()
      for (let y = yearNow; (yearNow - y) < 30; y--) {
        years.push(y)
      }
      return years
    }
  },
  methods: {
    save () {
      this.saving = true
      let {
        name,
        address,
        phone,
        state,
        type,
        roles,
        email,
        id
      } = this.formData
      const data = {
        name,
        address,
        phone,
        state,
        type,
        roles,
        email,
        vehicles: [],
        ts: new Date().valueOf(),
        updated: new Date().valueOf()
      }
      
      db.collection('users').doc(id).set(data)
        .then(() => db.collection('newUsers').doc(id).delete())
        .then(() => {
          this.saving = false
          this.$emit('saved')
        })
        .catch(err => {
          this.saving = false
          this.alert = {
            type: 'error',
            message: err.message,
            timeout: 5000
          }
        })
    }
  },
  mounted () {
    if (this.user) {
      this.formData = this.user
    }
  }


}
</script>

<style>

</style>