<template>
  <v-card>
    <v-toolbar dark color="primary" flat>
      <v-toolbar-title>Verifikasi Kepemilikan Kendaraan</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="$emit('canceled')"  icon >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-btn @click="save" :loading="saving" icon  class="ml-6 ">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-toolbar>
    
    <v-card-text>
      <v-row fluid wrap v-if="owner">
        <v-col cols="12">
          <span class="title">Verifikasi Kepemilikan Kendaraan</span>
        </v-col>
        <v-col cols="12" md="4" v-if="owner">
          <v-card>
            <v-card-title primary-title>
              {{owner.name}}
            </v-card-title>
            <v-card-text>
              <p><v-icon>mdi-map-marker</v-icon>{{owner.address}}</p>
              <p><v-icon small>mdi-phone</v-icon> {{owner.phone}}, <v-icon small>mdi-send</v-icon> {{owner.email}}</p>
              <p>
                <v-chip pill>
                  <v-avatar left>
                    <v-icon :color="owner.state == 'active' ? 'success' : 'error'">mdi-check-circle</v-icon>
                  </v-avatar>
                  {{owner.state}}
                </v-chip>,
                <v-chip pill v-for="(role, i) in owner.roles" :key="i">
                  <v-avatar left>
                    <v-icon >mdi-account</v-icon>
                  </v-avatar>
                  {{role}}
                </v-chip>,
              </p>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-btn block large color="primary" class="elevation-0 title">Mengaku Memiliki/Menguasai</v-btn>
        </v-col>
        <v-col cols="12" md="4">
          <v-card>
            <v-card-title primary-title>
              Kendaraan: {{formData.id}}
            </v-card-title>
            <v-card-text>
              <p>{{formData.brand}}, {{formData.model}}</p>
              <p>{{formData.type}}, {{formData.color}}, {{formData.make}}</p>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col cols="12" class="text-center">
          <v-alert
            v-if="alert"
            outlined
            :timeout="alert.timeout || 3000"
            :type="alert.type"
            >
            {{alert.message}}
          </v-alert>
        </v-col>

        <v-col cols="12" class="text-center">
          <v-checkbox :label="`Sesuai STNK dan KTP: kendaraan ${formData.id}, adalah milik ${owner.name}`" v-model="verification.vehicleIdMatchId" :value="true"></v-checkbox>
          <v-checkbox label="Surat Kuasa sesuai dengan STNK dan KTP pemilik dan KTP penerima kuasa" v-model="verification.vehicleIdMatchLoA" :value="true"></v-checkbox>
        </v-col>

        <v-col cols="12" class="text-center">
          <v-btn @click="$emit('canceled')" color="default" text>Cancel</v-btn>
          <v-btn @click="verifyOwnership" :disabled="!(verification.vehicleIdMatchId || verification.vehicleIdMatchLoA)" color="success" :loading="saving" >Konfirmasi</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import {db, FieldValue} from '../db'
export default {
  name: 'NewVehicleVerification',
  data () {
    return {
      formData: null,
      brands: [
        'Toyota',
        'Daihatsu',
        'Honda',
        'Mitsubishi',
        'Suzuki',
        'Mitsubishi',
        'Hino',
        'Isuzu',
        'Wuling',
        'Nissan',
        'BMW',
        'Mercedes',
        'Lexus',
      ],
      brandsModels: {
        'Toyota': [
          'Fortuner', 'Avanza', 'Vios', 
        ],
        'Nissan': [
          'Grand Livina', 'Elgrand', 'Terra', 'XTrail'
        ]
      },
      colors: [
        'Hitam',
        'Silver',
        'Putih',
        'Merah',
        'Kuning',
        'Hijau',
        'Biru',
        'Ungu',
      ],
      types: [
        'SUV', 'Sedan', 'MPV', 'Mini Bus', 'Jeep', 'Truk'
      ],
      owner: null,
      saving: false,
      alert: null,
      verification: {
        vehicleIdMatchId: false,
        vehicleIdMatchLoA: false
      },
      vehicleExisted: false,
    }
  },
  props: ['vehicle'],
  computed: {
    yearMakes () {
      const years = []
      let yearNow = new Date().getFullYear()
      for (let y = yearNow; (yearNow - y) < 30; y--) {
        years.push(y)
      }
      return years
    },
    vehicleId () {
      return this.formData.id
    }

  },
  methods: {
    addVehicleToUser (id) {
      return db.collection('users')
        .doc(this.member.id)
        .update({ vehicles: FieldValue.arrayUnion(id) })
    },
    save () {
      this.saving = true
      let {brand, model, color, make, type, id} = this.formData
      const vehicle = {
        brand,
        model,
        color,
        make,
        type,
        ts: new Date().valueOf()
      }
      if (this.ownedBy) {
        vehicle.owner = this.member.id
      }
      
      db.collection('vehicles').doc(id).update(vehicle)
        .then(() => this.addVehicleToUser(id))
        .then(() => {
          this.saving = false
          this.$emit('saved')
        })
        .catch(err => {
          this.saving = false
          this.alert = {
            type: 'error',
            message: err.message,
            timeout: 5000
          }
        })
    },
    async getOwner (ownerId) {
      db.collection('users').doc(ownerId)
        .get()
        .then(ownerSnapshot => {
          this.owner = ownerSnapshot.data()
        })
    },
    checkIfVehicleExists () {
      db.collection('vehicles').doc(this.formData.id).get()
        .then(vehicle => {
          if (vehicle.exists) {
            this.vehicleExisted = vehicle.exists
            this.alert = {
              type: 'error',
              message: 'Kendaraan sudah terdaftar'
            }
          }
        })
    },
    verifyOwnership () {
      if (this.vehicleExisted) {
        this.alert = {
          type: 'error',
          message: 'Kendaraan sudah ada, tidak bisa menambahkan'
        }
        return 
      }
      // save new vehicle to vehicles
      const vehicle = this.formData
      // add owner to vehicle user
      vehicle.users = [vehicle.owner]
      vehicle.verifiedBy = this.$store.getters.user.uid
      vehicle.verification = this.veri
      const owner = this.owner

      db.collection('vehicles').doc(vehicle.id)
        .set(vehicle)
        .then(function () {

          if (owner.vehicles.indexOf(vehicle.id) == -1) {
            const vehicles = owner.vehicles
            vehicles.push(vehicle.id)
            return db.collection('users').doc(vehicle.owner).update({vehicles})
          }
          return Promise.resolve()
        })
        .then(() => db.collection('newVehicles').doc(this.formData.id).delete())
        .then(() => {
          this.$emit('verified', vehicle.id)
        })
        .catch(err => {
          this.alert = {
            type: 'error',
            message: err.message
          }
        })
    }
  },
  mounted () {
    this.formData = this.vehicle || {}
  },
  watch: {
    formData (val) {
      this.checkIfVehicleExists()
      if (val.owner) {
        this.getOwner(val.owner)
      }
    }
  }

}
</script>

<style>

</style>