<template>
  <v-container>
    <v-row>
      <v-col cols="12"  justify-center class="text-center justify-center d-flex">
        <v-card class="elevation-0 px-2" style="min-width: 300px; max-width:500px">
          <span class="headline">Sign-in</span>
          <v-form ref="form" v-model="form" class="pt-6">
            <v-alert 
              transition="scale-transition"
              v-if="alert"
              outlined
              :type="alert.type"
              :timeout="alert.timeout || 1"
              >
              <span>{{alert.message}}</span>
            </v-alert>

            <v-text-field
              v-model="email"
              outlined
              large
              label="Email"
              ></v-text-field>
            <v-text-field
              v-model="password"
              outlined clearable
              label="Password"
              type="password"
              autocomplete="current-password"
            ></v-text-field>
          </v-form>
          <v-row >
            <v-col cols="12">
              <v-btn
                large color="primary"
                class="elevation-0"
                :loading="loading"
                
                block @click="signin_"
                >Sign In</v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12">
              <span class="text-center">Belum punya akun?</span>
              <v-btn
                text
                color="primary"
                @click="$router.push('/signup')"
                >
                Daftar
              </v-btn>

            </v-col>
          </v-row>
          <v-row class="mb-10">
            <v-col>
              <v-btn
                large
                color="primary"
                @click="signinWithGoogle"
                icon
                >
                  <v-icon large>mdi-google</v-icon>
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
                large
                color="primary"
                icon
                @click="signinWithFacebook"
                >
                  <v-icon large>mdi-facebook</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data: () => ({
    form: null,
    alert: null,
    email: null,
    password: null,
    submitted: false,
    loading: false
  }),
  validations: {
    user: {
      // email: { required, email },
      // password: { required, minLength: minLength(6) }
    }
  },
  components: {
  },
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    ...mapActions(['signin', 'signinGoogle', 'signinFacebook']),
    login() {
      this.submitted = true;
      this.loading = true;
      this.userLogin({
        username: this.username,
        password: this.password
      })
        .then(() => {
          this.loading = false;
          this.$emit("logged-in");
        })
        .catch(err => {
          console.log(err);
          this.loading = false;
          this.alert = {
            type: "error",
            message: err.response.data.message[0].messages[0].message
          };
          console.log(err);
        });
    },
    signin_ () {
      this.alert = null
      this.loading = true
      this.signin({email: this.email, password: this.password})
        .then(() => {
          this.loading = false
          this.onSigninSucces()
        })
        .catch(err => {
          this.alert = {
            type: 'error',
            message: err.message
          }
          this.loading = false
        })
    },
    signinWithGoogle () {
      this.loading = true
      this.signinGoogle()
        .then(() => {
          this.loading = false
          this.onSigninSucces()
        })
        .catch(err => {
          this.loading = false
          this.onsigninError(err)
        })
    },
    signinWithFacebook () {
      this.loading = true
      this.signinFacebook()
        .then(() => {
          this.loading = false
          this.onSigninSucces()
        })
        .catch(err => {
          this.loading = false
          this.onsigninError(err)
        })
    },
    onSigninSucces () {
      this.$router.push('/dashboard')
    },
    showRegistrasionDialog() {
      this.showRegistrasion = true;
    }
  },
  mounted () {
    if (this.user) {
      this.$router.push('/')
    }
  }
};
</script>

<style>
</style>