<template>
  <v-card>
    <v-toolbar dark color="red" flat class="mb-4">
      <v-toolbar-title>Member</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="$emit('canceled')"  icon >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-btn @click="save" :loading="saving" icon>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <template v-slot:extension>
      <v-tabs v-model="tab"
        class="mt-4"
        grow
        slider-color="red darken-3"
        background-color="red"
        dark>
        <v-tab>Profile</v-tab>
        <v-tab>Kendaraan</v-tab>
      </v-tabs>

      </template>
    </v-toolbar>
    
    <v-card-text class="mt-4">

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-row fluid wrap>
            <v-col cols="12" md="6">
              <v-text-field
                name="Name"
                label="Nama"
                id="name"
                v-model="formData.name"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                name="address"
                label="Alamat"
                id="address"
                v-model="formData.address"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                name="phone"
                label="Telepon"
                id="phone"
                v-model="formData.phone"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                name="email"
                label="Email"
                id="email"
                v-model="formData.email"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                :items="['member','admin', 'superadmin', 'scanner', 'guard']"
                v-model="formData.roles"
                label="Roles"
                multiple
              ></v-select>
            </v-col>
            <v-col cols="12" md="6">
              <v-select
                :items="['new', 'active', 'suspended']"
                v-model="formData.state"
                label="Status"
              ></v-select>
            </v-col>

            <v-col cols="12" md="6">
              <v-select
                label="Type"
                :items="[{text: 'Orang', value: 'person'}, {text: 'Mesin', value: 'machine'}]"
                v-model="formData.type"
              ></v-select>
            </v-col>

            <v-col cols="12" class="text-center">
              <v-alert
                v-if="alert"
                outlined
                :timeout="alert.timeout || 3000"
                :type="alert.type"
                >
                {{alert.message}}
              </v-alert>
            </v-col>
            <v-col cols="12" class="text-center">
              <v-btn @click="$emit('canceled')" color="default" text>Cancel</v-btn>
              <v-btn @click="save" color="success" :loading="saving" >Save</v-btn>
            </v-col>
          </v-row>

        </v-tab-item>

        <v-tab-item>
          <MemberVehicles
            :member="member"
          />
        </v-tab-item>
      </v-tabs-items>

    </v-card-text>
  </v-card>
</template>

<script>
import {db} from '../db'
import MemberVehicles from '@/views/MemberVehicles'
export default {
  name: 'UserForm',
  data () {
    return {
      tab: 0,
      formData: {
      },
      saving: false,
      alert: null,
    }
  },
  props: ['member'],
  components: {
    MemberVehicles
  },
  computed: {
    yearMakes () {
      const years = []
      let yearNow = new Date().getFullYear()
      for (let y = yearNow; (yearNow - y) < 30; y--) {
        years.push(y)
      }
      return years
    }
  },
  methods: {
    save () {
      this.saving = true
      let {
        name,
        address,
        phone,
        email,
        state,
        type,
        roles,
        vehicles,
        id
      } = this.formData
      vehicles = vehicles || []
      const data = {
        name,
        address,
        phone,
        email,
        state,
        type,
        roles,
        vehicles,
        ts: new Date().valueOf(),
        lastUpdateBy: this.$store.getters.user.uid
      }
      console.log(data)
      db.collection('users').doc(id).update(data)
        .then(() => {
          this.saving = false
          this.$emit('saved')
        })
        .catch(err => {
          this.saving = false
          this.alert = {
            type: 'error',
            message: err.message,
            timeout: 5000
          }
        })
    }
  },
  mounted () {
    if (this.member) {
      this.formData = this.member
    }
  }


}
</script>

<style>

</style>