<template>
  <v-card>
    <v-toolbar dark color="primary" flat>
      <v-toolbar-title>Kendaraan</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="$emit('canceled')"  icon >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-btn @click="save" :loading="saving" icon  class="ml-6 ">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-toolbar>
    
    <v-card-text>
      <v-row fluid wrap v-if="formData">
        <v-col cols="12" md="6">
          <v-text-field
            name="nkb"
            label="Nomor Kendaraan Bermotor"
            id="nkb"
            v-model="formData.id"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-combobox
            label="Merek"
            :items="brands"
            v-model="formData.brand"
            autocomplete
          ></v-combobox>
        </v-col>
        <v-col cols="12" md="6">
          <v-combobox
            label="Model"
            :items="brandsModels[formData.brand]"
            v-model="formData.model"
            autocomplete
          ></v-combobox>
        </v-col>
        <v-col cols="12" md="6">
          <v-combobox
            label="Warna"
            :items="colors"
            v-model="formData.color"
            autocomplete
          ></v-combobox>
        </v-col>
        <v-col cols="12" md="6">
          <v-combobox
            label="Tipe"
            :items="types"
            v-model="formData.type"
            autocomplete
          ></v-combobox>
        </v-col>
        <v-col cols="12" md="6">
          <v-combobox
            label="Tahun Pembuatan"
            :items="yearMakes"
            v-model="formData.make"
            autocomplete
          ></v-combobox>
        </v-col>
        <v-col cols="12" md="6">
          <v-checkbox label="Kendaraan milik Member" v-model="ownedBy"></v-checkbox>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-alert
            v-if="alert"
            outlined
            :timeout="alert.timeout || 3000"
            :type="alert.type"
            >
            {{alert.message}}
          </v-alert>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-btn @click="$emit('canceled')" color="default" text>Cancel</v-btn>
          <v-btn @click="save" color="success" :loading="saving" >Save</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import {db, FieldValue } from '../db'
export default {
  name: 'VehicleForm',
  data () {
    return {
      formData: null,
      brands: [
        'Toyota',
        'Daihatsu',
        'Honda',
        'Mitsubishi',
        'Suzuki',
        'Mitsubishi',
        'Hino',
        'Isuzu',
        'Wuling',
        'Nissan',
        'BMW',
        'Mercedes',
        'Lexus',
      ],
      brandsModels: {
        'Toyota': [
          'Fortuner', 'Avanza', 'Vios', 
        ],
        'Nissan': [
          'Grand Livina', 'Elgrand', 'Terra', 'XTrail'
        ]
      },
      colors: [
        'black',
        'silver',
        'white',
        'red',
        'yellow',
        'green',
        'blue',
        'grey',        
      ],
      types: [
        'SUV', 'Sedan', 'MPV', 'Mini Bus', 'Jeep', 'Truk'
      ],
      ownedBy: false,
      saving: false,
      alert: null,
    }
  },
  props: ['vehicle', 'member'],
  computed: {
    yearMakes () {
      const years = []
      let yearNow = new Date().getFullYear()
      for (let y = yearNow; (yearNow - y) < 30; y--) {
        years.push(y)
      }
      return years
    },
    owned () {
      return this.vehicle.owner == this.member.id
    }
  },
  methods: {
    addVehicleToUser (id) {
      return db.collection('users')
        .doc(this.member.id)
        .update({ vehicles: FieldValue.arrayUnion(id) })
    },
    save () {
      this.saving = true
      let {brand, model, color, make, type, id} = this.formData
      const vehicle = {
        brand,
        model,
        color,
        make,
        type,
        ts: new Date().valueOf()
      }
      if (this.ownedBy) {
        vehicle.owner = this.member.id
      }
      
      db.collection('vehicles').doc(id).update(vehicle)
        .then(() => this.addVehicleToUser(id))
        .then(() => {
          this.saving = false
          this.$emit('saved')
        })
        .catch(err => {
          this.saving = false
          this.alert = {
            type: 'error',
            message: err.message,
            timeout: 5000
          }
        })
    }
  },
  mounted () {
    this.formData = this.vehicle || {}
  },
  watch: {
    owned: {
      immediate: true,
      handler: function (val) {
        this.ownedBy = val
      }
    }
  }

}
</script>

<style>

</style>