<template>
  <router-view></router-view>
</template>

<script>
  export default {
    name: 'App',
    components: {
    },
    props: {
      source: String,
    },
    methods: {
    },
    data: () => ({
    }),
    mounted () {
    }
  }
</script>