<template>
  <v-app id="inspire">
    <MainNavigationDrawer :drawer="drawer" @input="onDrawerInput"/>

    <MainApplicationBar @nav-icon-clicked="drawer = !drawer"/>
    <v-content>
      <router-view></router-view>
    </v-content>
    <MainFooter/>
  </v-app>
</template>

<script>
  import { mapMutations } from 'vuex'
  import MainFooter from '@/components/MainFooter'
  import MainNavigationDrawer from '@/components/MainNavigationDrawer'
  import MainApplicationBar from '@/components/MainApplicationBar'
  export default {
    name: 'App',
    components: {
      MainFooter,
      MainNavigationDrawer,
      MainApplicationBar
    },
    props: {
      source: String,
    },
    methods: {
      ...mapMutations(['setUser']),
      onDrawerInput (payload) {
        this.drawer = payload
        console.log('onDrawerInput')
      }
    },
    data: () => ({
      drawer: false,
    }),
  }
</script>